<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>MyFirstToDOApp</title>
</head>
<body>
    <h1>Todos</h1>
    <ul>
        {%for todo in todos %}
        <li>
            <input type="checkbox" name="done" {% if todo['done'] %} checked {% endif %}disabled onchange="this.form.submit">
            <span {%if todo['done']%} style="text-decoration:line-through"{% endif %}></span> {{todo['todo']}}</span>
            <a href="{{url_for('check',index=loop.index0)}}">Check</a>
            <a href="{{url_for('edit',index=loop.index0)}}">Edit</a>
            <a href="{{url_for('delete',index=loop.index0)}}">DELETE</a>
        </li>
        {%endfor%}
    </ul>
    <form action="{{url_for('add')}}" method="post">
        <input type="text" name="todo">
        <button type="submit">Add Todo</button>
    </form>
</body>
</html>